<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DistributionOfPart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DistributionOfPart.Properties.Settings>
            <setting name="FacadesSizes_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="VendorsCodes_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="uptoTen_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="uptoFifty_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="uptoEighty_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="uptoThreeHundred_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="uptoOneThousand_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="uptoTwoThousand_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="fromTwoThousand_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="FacadesSizesAcron_Value" serializeAs="String">
                <value />
            </setting>
        </DistributionOfPart.Properties.Settings>
    </userSettings>
</configuration>